
body {
  font-family: Helvetica, sans-serif;
  background: #FFF;
}

header {
  background: #444;
  height: 100px;
}

.container {
  background-color: lightgray;
  margin: 1rem;
  display: flex;
  flex-direction: row;
}
